body {
  font-family: 'Roboto';
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
}

/* header */
nav {
  display: flex;
  justify-content: center;
  margin-right: auto;
  align-items: center;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.headerlogo-padding {
  padding-top: 24px;
  padding-bottom: 25px;
}

header .container {
  display: flex;
  align-items: center;
}

.page-iten {
  margin-right: 55px;
}

.page-iten:last-child {
  margin-right: 0;
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 93px;
}

.header-pages {
  display: flex;
}

.header-span {
  color: #2196f3;
}

.header-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-page:hover {
  color: #2196f3;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
}

.link:hover {
  color: #2196f3;
}

.link-icon {
  margin-right: 10px;
}

.link-icon:hover {
  fill: currentColor;
}

.haederlist-address {
  display: flex;
}

.header-adress {
  margin-left: 50px;
}

.header-adress:first-child {
  margin-left: 0;
}

/* main */

/* Герой */

.hero-section {
  padding-top: 200px;
  background-color: #2f303a;
  padding-bottom: 210px;
  text-align: center;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  padding: 10px 24px;
}

/* Чому ми */

.section-whywe {
  display: flex;
  padding-bottom: 94px;
  padding-top: 94px;
}

.whywe {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.whywe-list {
  display: flex;
}

.whywe-card {
  width: 270px;
}

.whywepictyre-bacground{
  /* background-color: #F5F4FA;
  padding-top: 25px;
  padding-bottom: 25px; */
}


.card-name-whywe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.card-diskription-whywe {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  justify-content: center;
}

.whywepicture :nth-child(1)::before {
  content: '';
  display: block;
  width: 270px;
  heigth: 120px;
  background-image: url('/images/antenna1.png');
}




/* Чим ми займаємося */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.work-list {
  display: flex;
  margin-top: 50px;
  margin-bottom: 94px;
}

.work-picture {
  margin-right: 30px;
}

.work-picture:last-child {
  margin-right: 0;
}

/* Наша команда */

.team-section {
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.teamcard-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  padding-top: 94px;
}

.team-list {
  display: flex;
  margin-top: 50px;
}

.team-card {
  background-color: #ffffff;
  margin-right: 30px;
  width: 270px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card-diskription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.social-icon {
  fill: currentColor;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-links {
  width: 44px;
  height: 44px;
}

.social-a-team {
  color: #afb1b8;
  border-radius: 50%;
  padding: 12px 12px;
  width: 44px;
  height: 44px;
  display: block;
  margin-left: 10px;
}

.social-a-team:hover {
  color: #ffffff;
  background-color: #2196f3;
  padding: 12px 12px;
}
.social-icon:hover {
  fill: #ffffff;
}

/* Постійні кліенти */

.title-regularclient {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
  font-size: 36px;
  line-height: 42.19px;
  letter-spacing: 3%;
}

.list-regylarclient {
  display: flex;
  justify-content: center;
}

.card-regylarclient {
  margin-right: 30px;
  padding-bottom: 94px;
  /* border-radius: ; */
}

/* .a-regylarclient {
}

.svgregylarclient-icon {
} */

.pictyre-regylarclient {
  color: #afb1b8;
}

/* footer */

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footter-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-span {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #e5e5e5;
}

.footer-list {
  padding-inline-start: 0;
}

.footter-telmail {
  margin-top: 9px;
  margin-bottom: 9px;
}

.telmail-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footter-telmail:last-child {
  margin-bottom: 0;
  margin-top: 0;
}
