body {
  font-family: 'Roboto';
  padding-top: 80px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
}

/* header */

nav {
  display: flex;
  justify-content: center;
  margin-right: auto;
  align-items: center;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid #eeeeee;
  z-index: 5;
}

.headerlogo-padding {
  padding-top: 24px;
  padding-bottom: 25px;
}

header .container {
  display: flex;
  align-items: center;
}

.page-iten {
  margin-right: 55px;
  position: relative;
}

.page-iten:last-child {
  margin-right: 0;
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 93px;
}

.header-pages {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.header-span {
  color: #2196f3;
}

.header-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: black;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: currentColor; 
  border: none;
}

.active-page{
  color: #2196F3;
}

.active-page::after{
  content: "";
  display: block;
  width: 100%;
  height: 5px;
 
  background-color: #2196F3;
  border-radius: 4px;
  position: absolute;
  left: 1px;
  bottom: 0;
  top: 58px;
  transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 600ms,
              transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);      
}

.header-page:hover {
  color: #2196f3;
}

.page-iten:not(:last-child){
  margin-right: 54px;
}

/* .page-iten::after{
  content: "";
 display: block;
 width: 100%;
 height: 5px;
 background-color: aqua;
 position: absolute;
 left: 1px;
 bottom: 0;
 opacity: 0;
 transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 600ms,
             transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 transform: scaleX(0);
}

.page-iten:hover::after{
  opacity: 1;
width: 100%;
transform: scaleX(1);
} */

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex; 
}

.link:hover {
  color: #2196f3;
}

.link-icon {
  margin-right: 10px;
  fill: currentColor;
}

.link-icon:hover {
  fill: currentColor;
}

.haederlist-address {
  display: flex;
}

.header-adress {
  margin-left: 50px;
}

.header-adress:first-child {
  margin-left: 0;
}

/* main */

.section-button {

  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;

  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.main-button {

  color: #212121;
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 3%;

  border: none;
  border-radius: 4px;
  padding: 6px 26px;
}

.card-button {
  margin-right: 8px;
}

.card-button:hover {
}

.mainlist-button {
  display: flex;
  padding-top: 94px;
  padding-bottom: 50px;
  justify-content: center;
}
.main-button:hover{
  color: #ffffff;
  background-color: #2196F3;
}

/* list */

.section-main-list {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding-bottom: 94px;
}

.card-main {
  border: 1px solid #EEEEEE;
  margin: 14px;
}

.product {
  width: 370px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
    position: relative;
    overflow: hidden;
}

.product-overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 30%;
  right: 0;
  background-color:  
  rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
              opacity 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
              background-color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.product:hover .product-overlay{
opacity: 1;
transform: translateY(0);
}

.product-thumb{
  position: relative;
}

.product-thumb:hover{
  opacity: 1;
}

.product-meta {
  padding: 15px;
}

.product-name {
  margin-top: 0;
  margin-bottom: 10px;
}

.product-actions {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-item{
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}


.card-title {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-right: 24px;
  padding-left: 24px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
}

.card-diskription {
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  color: #757575;
}
/* footer */

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.foottercontainer {
  display: flex;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footterdivblok {
  display: block;
  margin-right: 70px;
}

.footterdivblok:last-child {
  margin-right: 0;
}

.footter-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer-span {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 0;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #e5e5e5;
  margin-right: 0;
}

.footer-list {
  padding-inline-start: 0;
  margin-right: 0;
}

.footter-telmail {
  margin-top: 9px;
  margin-bottom: 9px;
  margin-right: 0;
}

.telmail-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 0;
}

.footter-telmail:last-child {
  margin-bottom: 0;
}

.titlsocialfootter {
  text-align: center;
  color: #ffffff;
  width: 160px;
  height: 16px;
  margin-top: 0;
}

.socialfootter-a-icon {
  fill: currentColor;
}

.socialfootter-list {
  display: flex;
  justify-content: center;
}

.socialfootter-links {
  width: 44px;
  height: 44px;
}

.socialfootter-a {
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 9px 9px;
  width: 44px;
  height: 44px;
  display: block;
  display: flex;
  justify-content: center;
}

.socialfootter-a:hover {
  background-color: #2196f3;
}

.socialfootter-a-icon:hover {
  fill: #ffffff;
}

.titlsubscribefootter{
  color: #ffffff;
 font-weight: 160px;
  height: 16px;
  margin-top: 0;
}

.foottertextarea{
  color: white;
  border-radius: 4px;
  background: #2f303a;
}

.foottersubscribebutton{
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  padding: 10px 65px 10px 32px;
  margin-left: 12px;
}

.foottertelegram{ 
  position: absolute;
  left: 0;
  bottom: 54%;
  left: 86%; 
}

.foottertextbutton{
display: flex;
padding-top: 20px;
}