footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.foottercontainer {
  display: flex;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footterdivblok {
  display: block;
  margin-right: 70px;
}

.footterdivblok:last-child {
  margin-right: 0;
}

.footter-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer-span {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 0;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #e5e5e5;
  margin-right: 0;
}

.footer-list {
  padding-inline-start: 0;
  margin-right: 0;
}

.footter-telmail {
  margin-top: 9px;
  margin-bottom: 9px;
  margin-right: 0;
}

.telmail-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 0;
}

.footter-telmail:last-child {
  margin-bottom: 0;
}

.titlsocialfootter {
  text-align: center;
  color: #ffffff;
  width: 160px;
  height: 16px;
  margin-top: 0;
}

.socialfootter-a-icon {
  fill: currentColor;
}

.socialfootter-list {
  display: flex;
  justify-content: center;
}

.socialfootter-links {
  width: 44px;
  height: 44px;
}

.socialfootter-a {
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 9px 9px;
  width: 44px;
  height: 44px;
  display: block;
  display: flex;
  justify-content: center;
}

.socialfootter-a:hover {
  background-color: #2196f3;
}

.socialfootter-a-icon:hover {
  fill: #ffffff;
}

.titlsubscribefootter{
  color: #ffffff;
 font-weight: 160px;
  height: 16px;
  margin-top: 0;
}

.foottertextarea{
  color: white;
  border-radius: 4px;
  background: #2f303a;
}

.foottersubscribebutton{
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  padding: 10px 65px 10px 32px;
  margin-left: 12px;
}

.foottertelegram{ 
  position: absolute;
  left: 0;
  bottom: 54%;
  left: 86%; 
}

.foottertextbutton{
display: flex;
padding-top: 20px;
}