.regularclient__title {  
  text-align: center;
  padding-top: 94px;
  font-size: 36px;
  line-height: 42.19px;
  letter-spacing: 3%;
  
  @media screen and (min-width: 480px) {
    text-align: center;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    text-align: center;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
     text-align: center;
     padding-bottom: 50px;  
  }
}

.regularclient__list {
  justify-content: center;
  padding-bottom: 94px;
  @media screen and (min-width: 480px)  {
    display: flex;
  flex-wrap: wrap;
  margin: -15px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  flex-wrap: wrap;
  margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;  
  }
}

.regularclient__card {  
  border: 2px #afb1b8;
  @media screen and (min-width: 480px)  {
    padding: 5px;
  }
  @media screen and (min-width: 768px) {
    padding: 15px;
  }
  @media screen and (min-width: 1200px) {
    padding: 10px;
  }
}

.regularclient__link {
  color:dimgrey;
  border: solid 1px dimgrey;
  // color: #afb1b8;
  // border: solid 1px #afb1b8;
  border-radius: 4px;
  height: 90px;
  width: 170px;
  display: block;
}

.regularclient__link:hover {
  border-color: #2196f3;
  color: #2196f3;
}

.regularclient__link:hover {
  fill: #2196f3;
}

.regularclient__icon {
  margin: 20px 60px;
  fill: currentColor;
}